$wrapper
  max-width inherit
  margin 0 auto
  padding 15px 46px
  padding-left 66px

  @media (max-width: $MQNarrow)
    padding 15px 46px
    padding-left 66px
  @media (max-width: $MQMobileNarrow)
    padding 15px 46px
    padding-left 66px

